.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared Styles */
.display-flex{
  display: flex;
}
.white{
  color: #fff;
}
/* Header Style Start */
/* Nav Style Start */
.navbar{
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 20px 140px;
}
.phn-nav{
  display: none;
}

.logo{
  width: 60px;
  margin-right: 15px;
}
.nav-logo{
  align-items: center;
}
.nav-title{
  color: rgb(17, 17, 17);
font-size: 32px;
font-weight: 700;
line-height: 30px;
text-align: left;
}
.nav-list{
  list-style: none;
}
.nav-list li{
  margin-left: 30px;
}
#list-1{
  color: rgb(254, 163, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
#list-2{
  color: rgb(1, 172, 253);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
#list-3{
  color: rgb(5, 212, 223);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
#list-4{
  color: rgb(93, 88, 239);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
.nav-btn{
  border-radius: 12px;
  background: rgb(254, 163, 1);
  padding: 7px 47px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  border: none;
  cursor: pointer;
}
.nav-btn:hover{
  opacity: 0.5;
  color: #000;
}
/* Nav Style End */

/* Banner Style Start */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 140px;
}
.banner-head{
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  text-align: left;
  margin-bottom: 24px;
}
#orange{
  color: rgb(254, 163, 1);
}
#black{
  color: rgb(17, 17, 17);
}
#blue{
  color: rgb(1, 172, 253);
}
.banner-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 640px;
}
.banner-para{
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  margin-bottom: 24px;
}
.banner-btn{
  width: 197px;
  height: 50px;
  padding: 10px;
  border-radius: 12px;
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.banner-img{
  /* width: 468px; */
}
/* Banner Style End */
/* Header Style End */

/* Footer Style Start */
.footer{
  background-color:rgb(1, 172, 253); 
  padding: 123px 140px 174px 140px;
}
.foot-container{
  max-width: 1070px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
  gap: 30px;
}
#foot-col-logo{
  display: flex;
  margin-bottom: 20px;
}
#foot-head{
  font-size: 42.14px;
  font-weight: 700;
  line-height: 39.51px;
}
.foot-para{
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
#col-2{
  display: flex;
  align-items: center;
  justify-content: center;

}
.foot-abt{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
#col-2 li{
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 20px;
}
.foot-ttl{
font-size: 26px;
font-weight: 700;
line-height: 26px;
margin-bottom: 30px;
}
.col-3 img{
  margin-right: 10px;
}
/* Footer Style End */




















/* Responsive for phone */
@media screen and (max-width:576px) {
  /* Navbar Responsive */
  .phn-nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid yellow;
    padding: 12px 16px;
  }
  .navbar{
    display: none;
  }
  .phn-nav i{
    font-size: 30px;
  }
  /* Banner responsive */
  .banner{
    flex-direction: column-reverse;
  }
  .banner-img{
    height: 100%;
    /* margin: 0 30px; */
  }
  .banner-content{
    text-align: center;
  }
}

/* Responsive for medium device */
